<ul class="nav justify-content-end">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link active" routerLink="/products" >Products</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link btn btn-primary" routerLink="/product-detail">Product Detail</a>
      </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a class="nav-link btn btn-primary" routerLink="/add-product">Add Product</a>
    </li>
  </ul>
