<div class="product-wrapper">
      <h1>Product Detail</h1>
      <h4>Product Name:</h4>
      <p>{{product.Name}}</p>
      <h4>Description:</h4>
      <p>{{product.Description}}</p>
      <h4>Categories:</h4>
      <ul>
          <li class="small" *ngFor="let category of productCategories">{{category.Name}}</li>
        </ul>
      <h4>Website:</h4>
      <p class="small">{{product.Url}}</p>
      <button class="btn btn-outline-secondary" routerLink="/product-detail/{{product.ProductId}}/edit">Edit Product</button>
    <router-outlet></router-outlet>
  </div>
